# Manual: http://www.kernel.org/pub/software/scm/git/docs/gitignore.html

# Ignore temp files created by LaTeX:
*.aux
*.bbl
*.blg
*.idx
*.log
*.out
*.sty
*.toc

# Ignore this final documents (but grasp PDF images):
smiley.pdf

# Ignore sink folder:
sink/
