# Manual: http://www.kernel.org/pub/software/scm/git/docs/gitignore.html

# Ignore temp files created by LaTeX:
*.aux
*.bbl
*.blg
*.glo
*.idx
*.log
*.out
*.toc

# Ignore all final documents (but grasp PDF images):
*.sty
smiley.pdf
smiley-demo.pdf

# Ignore sink folder:
sink/
